.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.hijri-calender {
  width: 266px;
  direction: rtl;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 2px;  
}

.day-names, .month-days {
  text-align: right;
}

.day-names {
  border-bottom: 1px solid #ddd;
}

.day-name, .month-day{
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 25px;
  padding: 1px;
  border: 1px solid #fff;
  text-align: center;
}

.month-day button {
  cursor: pointer;
  border: 0px;
  width: 30px;
  padding: 5px;
}

.month-day button:focus {
  border: 0px;
  outline: unset;
}

.selected-date {
  border: 1px solid #ddd !important;
}

.previous-month, .next-month{
  position: absolute;
  border: 0px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.previous-month {
  right: 15px;
}

.next-month {
  left: 15px;
}

.hidden {
  display: none;
}

.hijri-calender-controls {
  direction: rtl;
  text-align: center;
}
.hijri-date-picker {
  direction: rtl;
  text-align: center;
}